<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Some html boilerplate omitted -->
    <!-- <link rel="stylesheet" href="/themes/prism-one-light.css" /> -->
    <!-- <link rel="stylesheet" href="/themes/prism-one-dark.css" /> -->
    <!-- <link rel="stylesheet" href="/themes/prism-material-dark.css" /> -->
    <link rel="stylesheet" href="/themes/prism-laserwave.css" />
    <!-- <link rel="stylesheet" href="/themes/new.css" />     -->
    <title>{{ title }}</title>
  </head>
  <body>
    <button onclick="topFunction()" id="topButton" title="Go to top"><b>^</b></button>    
    <header>
      <a href="/">WuZhihao's Blog</a>
      <nav>
        <a href="/about">About</a> 
      </nav>
    </header>
    <main>
      {% include "./nav.njk" %}
      <!--<header>{% include "./nav.njk" %}</header> -->
      {{ content | safe }}
    </main>
    <script src="/javascript/bundle.js"></script>
    </script>
  </body>
</html>
