---
layout: layouts/base.njk
---

<section>
  <article>
    <h1>{{ title }}</h1>
    <p>
      Published on: {{ page.date | myDateFormat }}
    </p>
    <h2>Table Of Contents</h2>      
    {{ content | toc | safe }}
    {{ content | safe }}
  </article>
</section>